.gallery-controls {
    .gallery-button {
        &,
        &:hover,
        &:focus {
            background-color: $white !important;
            border: 1px solid $white !important;

            .icon {
                fill: $black !important;
            }
        }

        &:hover {
            outline: none !important;
        }

        &:focus {
            outline-offset: 0.25rem !important;
            outline: .2rem dotted $white !important;
        }
    }
}

.modal-content {
    strong {
        color: $white;

        &.is-block {
            font-weight: 400;
        }
    }

    a {
        color: $white;
        text-decoration: underline;

        &:hover {
            color: $white !important;
        }

        &:focus {
            outline-color: $white !important;
        }
    }

    .slide-deck,
    .slide-deck .slide {
        figure {
            width: fit-content;
            margin-left: auto !important;
            margin-right: auto !important;

            figcaption {
                margin-top: 0;

                p {
                    max-width: fit-content;
                }
            }
        }
    }
}

.button.modal-close-button {
    &:hover {
        outline: none !important;
    }

    &:hover,
    &:focus {
        .icon {
            fill: $black !important;
        }
    }

    &:focus {
        outline: .2rem dotted $white !important;
    }
}
