/*
 * Theme Name:  TMS Theme Vapriikki
 * Description: Tampere Multisite Vapriikki Theme
 * Version:     1.5.0
 * Author:      Geniem
 * Author URI:  https://geniem.fi
 * Template:    tms-theme-base
 * Text Domain: tms-theme-vapriikki
 */
