.table {
    background-color: $white;
    color: $black;

    thead,
    tfoot {
        th {
            @extend h6;
            font-weight: $weight-medium;
        }
    }
}

.tablepress {
    .even td {
        background-color: $color-gray !important;
    }

    .odd td {
        background-color: $white !important;
    }
}

table.idc-element {
    &:focus {
        outline: .2rem dotted #000;
        outline-offset: -0.125rem;
        position: relative;
    }
}
