// sass-lint:disable no-important

.has-text-primary-invert {
    color: $primary-invert !important;
}

.has-text-black {
    color: $primary !important;
}

.has-text-secondary-invert {
    color: $secondary-invert !important;
}

.has-text-black-invert {
    color: $primary !important;
}

.has-text-white-invert {
    color: $primary !important;
}

strong {
    color: inherit;
}
