@import "functions";

// All Tampere brand colors
$color-white: #ffffff;
$color-black: #000000;

// Override Bulma
$white: $color-white;
$black: $color-black;

$color-vapriikki-red: #f63440;
$color-tekstin-vari: $color-black;

$color-vaalean-harmaa: #A6A7AC;
$color-ui-border: #414141;
$color-ui-border-light: #767676;
$color-gray: #a6a7ac;

$color-vaalean-harmaa: #A6A7AC;
$color-tumma-harmaa: #585857;
