.layout-exhibition-carousel {
    @include until($desktop) {
        .slick-track {
            height: max-content;

            .slick-slide img {
                height: auto !important;
            }
        }
    }

    .slick-slide {
        height: auto;
        outline: 4px solid $color-white;

        .button-container {
            background-color: $color-black;
            padding: 1rem;
            text-align: center;
        }
    }
}
